In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

###  NASA Mars News

In [3]:

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\dasa\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [4]:
# get NASA Mars News
url = 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
html = browser.html

soup = BeautifulSoup(html, 'html.parser')
title= soup.find_all('div', class_='content_title')[0].text
par=soup.find_all('div', class_='article_teaser_body')[0].text
print(title)
print(par)

NASA's MAVEN Maps Winds in the Martian Upper Atmosphere that Mirror the Terrain Below and Gives Clues to Martian Climate
Researchers have created the first map of wind circulation in the upper atmosphere of a planet besides Earth, using data from NASA’s MAVEN spacecraft that were collected during the last two years.

### JPL Mars Space Images - Featured Image

In [6]:
# get JPL Mars Space Images - Featured Image
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [7]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

image = soup.find_all('img', class_='fancybox-image')[0]["src"]
featured_image_url = url + image
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts

In [9]:
import pandas as pd

In [10]:
url = 'https://galaxyfacts-mars.com/#'

In [11]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
df = tables[0]

df.columns = ['Description', 'Mars', 'Earth']
df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
html_table = df.to_html(index=False)
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th>Description</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <td>Mars - Earth Comparison</td>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [16]:
df.to_json(orient="index")

'{"0":{"Description":"Mars - Earth Comparison","Mars":"Mars","Earth":"Earth"},"1":{"Description":"Diameter:","Mars":"6,779 km","Earth":"12,742 km"},"2":{"Description":"Mass:","Mars":"6.39 \\u00d7 10^23 kg","Earth":"5.97 \\u00d7 10^24 kg"},"3":{"Description":"Moons:","Mars":"2","Earth":"1"},"4":{"Description":"Distance from Sun:","Mars":"227,943,824 km","Earth":"149,598,262 km"},"5":{"Description":"Length of Year:","Mars":"687 Earth days","Earth":"365.24 days"},"6":{"Description":"Temperature:","Mars":"-87 to -5 \\u00b0C","Earth":"-88 to 58\\u00b0C"}}'

### Mars Hemispheres

In [128]:
import time

In [129]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [135]:
# get hemisphere names and images urls

hemisphere_image_urls = []

for hem_num in range (4):
    partial_hem = browser.links.find_by_partial_text('Enhanced')
    name_hem = partial_hem[hem_num].text
    partial_hem[hem_num].click()
   
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    img_loc = soup.find('li')
    img_hem = url + img_loc.a['href']
   
    hem_dic = {"title": name_hem, "img_url": img_hem}
    hemisphere_image_urls.append(hem_dic)  
    browser.back()

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [92]:
browser.quit()